/* Body */
*,
*:before,
*:after {
    color: var(--font-color);
    box-sizing: inherit;
    font-family: var(--main-font);
    transition: background-color 1s;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main);

}

/* Style the buttons */
.tab-buttons {
    width: 100%;
    background-color: var(--accent-1);
}

.tab-button {
    border: none;
    margin-left: 1em;
    outline: none;
    padding: 10px 16px;
    background-color: var(--secondary);
    cursor: pointer;

    border-radius: 1em 1em 0 0;
    transition: background-color 0.5s, border-radius 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#setting {
    float: right;
    margin-right: 1em;
}

/* Style the active tab class (and buttons on mouse-over) */

.tab-button:hover {
    background-color: var(--main);
    color: var(--accent-1);
}

.tabactive {
    background-color: var(--main);
    color: var(--accent-1) !important;
    border-radius: 0 0 0 0;
    transition: border-radius 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

/* Show & hide tabs*/
.tab-content {
    display: none;
    margin-left: 1em;
    height: 100%;
}

.shown {
    display: inherit;
}

/* The main content */
.main {
    width: 70%;
    float: left;
}

/* The sidebar */
.sidebar {

    width: 30%;
    float: right;
    background-color: var(--accent-2);
    height: 100vh;
    border-left: 2px solid var(--accent-1);
}

.sidebar-content {
    margin: 1em;
}

/* Perks */
.perk {
    background-color: var(--accent-1);
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
    border: var(--tooltip-border)
}

.locked {
    background-color: var(--accent-2);
}

/* Icons */
.icon-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.locked img {
    display: none;
}

.icon-wrapper>img {
    width: 100%;
    height: 80%;
}

.row {
	display: flex;
	flex-wrap: wrap;
}


/* radio buttons & checkboxes */

.radio-container {
    display: flex;
    cursor: pointer;
    position: relative;
    padding: 0.2em;
}

input[type="radio"],
input[type="checkbox"] {
display: none;
}
input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
    background-color: var(--secondary);
}
input[type="checkbox"]:checked + span:before,
input[type="radio"]:checked + span:before {
    box-shadow: inset 0 0 0 0.5em var(--main);
}
.radio-container span {
    display: flex;
    align-items: center;
    padding: 0.3em 0.8em 0.3em 0.3em;
    border-radius: 1em;
    transition: 0.5s ease;
}
.radio-container span:hover {
    background-color: var(--accent-1);
}
.radio-container span:before {
    display: flex;
    content: "";
    background-color: var(--accent-2);
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    margin-right: 0.3em;
    transition: 0.5s ease;
}

/* Progress Bars & labels */
progress {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px inset var(--accent-1);

}

progress::-webkit-progress-bar {
    background-color: var(--accent-1);
    border-radius: 1em;
    transition: all 0.1s;

}

progress::-webkit-progress-value {
    border-radius: 1em;
    outline: 3px outset var(--accent-2);
    transition: all 0.1s;
}

.progressbar {
    position: relative;
    height: 1.3em; 
    margin: 0.3em;
}

.progressbar .label{
    position: absolute;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: auto;
    top: 50%;
    transform: translate(0%, -50%);
}

.label-left {
    left: 0;
}

.label-right {
    right: 0;
}

#mana::-webkit-progress-value{
    background-color: var(--mana);
}
#stamina::-webkit-progress-value{
    background-color: var(--stamina);
}
#health::-webkit-progress-value{
    background-color: var(--health);
}
