.hastooltip{
    position: relative !important;
}


.tooltip{
    visibility: hidden;
    width: 18em; /* twice the width of buttons + margin */
    height: auto;
    word-wrap: break-word;
    z-index: 99999;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.5em;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 10px;
    transform: translateY(-50%);
    background-color: var(--secondary);
    box-shadow: none;
    border: 0.2em outset var(--accent-1);
    transition: box-shadow 0.1s;
}

.tooltip > p{
    margin: 0;
    padding: 0;
}
.tooltip-req{
    font-style: italic;
}

.tooltip hr{
    border: 0;
    height: 0.2em;
    background-image: linear-gradient(to right, var(--secondary), var(--main), var(--secondary));
}


/*direct child*/
*:hover  > .tooltip{
    visibility: visible;
    transition: box-shadow 0.1s;
    box-shadow: var(--shadow);
}

.locked:hover > .tooltip{
    visibility: hidden;
}