.hastooltip{
    position: relative;

}
.tooltip{
    visibility: hidden;

    width: 13em;
    height: auto;
    word-wrap: break-word;
    z-index: 2;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.5em;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 10px;
    transform: translateY(-50%);
    background-color: var(--secondary);
    box-shadow: none;
    border: var(--tooltip-border);
    transition: box-shadow 0.1s;

}
.tooltip > p{
    margin: 0;
    padding: 0;
}
.tooltip-req{
    font-style: italic;
}

.tooltip hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, var(--secondary), var(--main), var(--secondary));
}


/*direct child*/
*:hover > .tooltip{
    visibility: visible;
    transition: box-shadow 0.1s;
    box-shadow: var(--shadow);

}

.locked:hover > .tooltip{
    visibility: hidden;

}